.chat_window {
    width: calc(100% - 20px);
    max-width: 500px;
    height: 500px;
    border-radius: 35px;
    margin: 200px auto;
    
    left: 50%;
    top: 30%;
    box-shadow: 0 11px 23px rgba(0, 0, 0, 0.175);
    background-image: url("https://picsum.photos/1000/550");
    overflow: hidden;
    background-repeat: no-repeat;
}